.sidedrawer {
  width: 70%;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 199;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.show {
    transform: translateX(0);
    transition: all 0.3s ease-out;
  }
}

.sidedrawer__links {
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      color: #171717;
      font-size: 1.6rem;
      font-weight: 600;

      svg {
        font-size: 1.2rem;
        margin-right: 5px;
      }

      &:hover {
        background-color: #171717;
        color: #fff;

        .sidedrawer__cartbadge {
          background-color: #fff;
          color: #171717;
        }
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
      }
    }
  }
}

.sidedrawer__cartbadge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #171717;
  text-align: center;
  font-size: 1rem;
  background: #171717;
  color: #fff;
}

@media screen and (min-width: 960px) {
  .sidedrawer {
    display: none;
  }
}
